<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <title>Photos</title>
  </head>
  <body>
    <header>
        <div class="header-container">
      <h1><a href="/">Photos</a></h1>
  
    <nav>
        <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/index.php?page=upload">Upload</a></li>
       </ul>
    </nav>
</div>
</header>
    <div>
    <main class="main">


