
<main>
        <div>
            <article class="mainimage-container">
                <div class="img-desc">
            <a href="index.php"><img src="./images/main/[+name+]" /></a>
            <p class="download">
                    <span class="bold">Download  original <img src="./images/pictures/angle-down.svg" class="arrow"></span>
                    <a href="./images/uploads/[+download+]" download>[+download+]</a>
                </p>
            </div>
            <div class="container-info">
                <ul>
                    <li><span class ="bold">Title:</span> [+title+]</li>
                    <li><span class ="bold">Description: </span> [+description+]</li>
                </ul>
               
            </div>
        </article>
          
        </div>