
<main>
        <article>
            <div class="mainimage-container">
                <div class="img-desc">
            <a href="/"><img src="/images/main/[+name+]" /></a>
            <p>
                    <strong>Download  original: </strong>
                    <a href="/images/uploads/[+download+]" download><img src="./images/pictures/angle-down.svg" class="arrow">[+download+]</a>
                </p>
            </div>
            <div class="container-info">
                <ul>
                    <li><span class ="bold">Title:</span> [+title+]</li>
                    <li><span class ="bold">Description: </span> [+description+]</li>
                </ul>
               
            </div>
            </div>
          
        </article>