<div>
    <main>

        <section class="mainimage-container">
            <a href="/"><img src="/images/main/[+name+]" /></a>
            <div class="container-info">
                <ul>
                    <li><span class ="bold"></span>ID: </span> [+id+]</li>
                    <li><span class ="bold">Title:</span> [+title+]</li>
                    <li><span class ="bold">Description: </span> [+description+]</li>
                </ul>
                <p>
                    <strong>Download: </strong>
                    <a href="/images/uploads/[+download+]" download>Download </a>
                </p>
            </div>
        </section>